OpraizeO9V8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Operaize-O9 data model
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="Operaize09V8.xsd"
           targetNamespace="Operaize09V8.xsd"
           elementFormDefault="qualified">
    <xs:element name="ProblemCommunication">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Request" type="RequestType"/>
                <xs:element name="CapacityRequirements" type="CapacityRequirementsType"/>
                <xs:element name="CapacityAvailabilities" type="CapacityAvailabilitiesType"/>
                <xs:element name="MaterialAvailabilities" type="MaterialAvailabilitiesType"/>
                <!-- PO: Purchase Order -->
                <xs:element name = "POs" type = "POsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:complexType name="RequestType" >
           <xs:attribute name="RequestID" type="xs:string" use="required"/>
           <xs:attribute name="RequestTimeStamp" type="xs:dateTime" use="required"/>
           <xs:attribute name="PlanningHorizonFrom" type="xs:dateTime" use="required"/>
           <xs:attribute name="PlanningHorizonTo" type="xs:dateTime" use="required"/>
          <xs:attribute name="TimeUnit" type="xs:string" use="required"/>
    </xs:complexType>



    <xs:complexType name="CapacityRequirementsType">
        <xs:sequence>
             <xs:element name="CapacityRequirement" type="CapacityRequirementType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="CapacityRequirementType">
        <xs:sequence>
            <xs:element name="WorkOrder" type="WorkOrderType" maxOccurs="unbounded"/>            <!-- one or more -->
            <xs:element name="routing" type="routingType" maxOccurs="unbounded"/>                <!-- one or more -->
            <xs:element name="sequence" type="sequenceType" maxOccurs="unbounded"/>              <!-- one or more -->
            <xs:element name="operation" type="operationType" maxOccurs="unbounded"/>            <!-- one or more -->
            <xs:element name="suboperation" type="suboperationType" maxOccurs="unbounded"/>      <!-- ? should this be inside operationType. Its optional also -->
        </xs:sequence>
    </xs:complexType>




    <xs:complexType name="WorkOrderType">
        <xs:attribute name="WorkOrderID" type="xs:string" use="required"/>
        <xs:attribute name="WorkOrderStatus" type="xs:string" use="required"/>                <!-- should be a different type itself, with choices ?-->
        <xs:attribute name="LocationID" type="xs:string" use="required"/>
        <xs:attribute name="OutputLocationStorageLocID" type="xs:string" use="required"/>
        <xs:attribute name="OutputMaterialID" type="xs:string" use="required"/>
        <xs:attribute name="OutputMaterialQuantity" type="xs:double" use="required"/>
        <xs:attribute name="OutputMaterialUOM" type="xs:string" use="required"/>
        <xs:attribute name="ProductionDueDate" type="xs:dateTime" use="required"/>
        <xs:attribute name="ProductionStartDate" type="xs:dateTime" use="required"/>
    </xs:complexType>

    <xs:complexType name="routingType">
        <xs:attribute name="RoutingID" type="xs:string" use="required"/>
        <xs:attribute name="RoutingText" type="xs:string" use="required"/>                
        <xs:attribute name="RoutingAlternativeID" type="xs:string" use="required"/> 
    </xs:complexType>


    <xs:complexType name="sequenceType">
        <xs:attribute name="sequenceID" type="xs:string" use="required"/>
        <xs:attribute name="sequenceType" type="xs:string" use="required"/>                       <!-- should be a different type itself, with choices ?-->       
    </xs:complexType>


    <xs:complexType name="operationType">
        <xs:attribute name="OperationID" type="xs:string" use="required"/>
        <xs:attribute name="EarliestStartDate" type="xs:dateTime" use="optional"/>
        <xs:attribute name="OperationStartDate" type="xs:dateTime" use="required"/>
        <xs:attribute name="OperationEndDate" type="xs:dateTime" use="required"/>
        <xs:attribute name="LatestEndDate" type="xs:dateTime" use="optional"/>



        <xs:attribute name="OperationText" type="xs:string" use="optional"/> 
        <xs:attribute name="PredecessorOperation" type="xs:string" use="required"/>                <!-- ? type-->
        <xs:attribute name="SucessorOperation" type="xs:string" use="required"/>
        <xs:attribute name="OperationType" type="xs:string" use="required"/>                       <!-- should this be seperate with choides as External and Internal -->
        <xs:attribute name="ResourceID" type="xs:string" use="required"/>
        <xs:attribute name="BOMAlternativeID" type="xs:string" use="required"/>
        <xs:attribute name="InputMaterialID" type="xs:string" use="required"/>
        <xs:attribute name="InputMaterialQuantity" type="xs:double" use="required"/>
        <xs:attribute name="InputMaterialUOM" type="xs:string" use="required"/>
        <xs:attribute name="InputMaterialStorageLocID" type="xs:string" use="required"/>
        <xs:attribute name="ProductionTool" type="xs:string" use="optional"/>
        <xs:attribute name="CapacityID" type="xs:string" use="required"/>                


        <!-- Different process times (setup, processing, ... -->

        <xs:attribute name="ValueSetupUOM" type="xs:string" use="required"/>
        <xs:attribute name="ValueSetupTime" type="xs:double" use="required"/>
        <xs:attribute name="ValueProcessingUOM" type="xs:string" use="required"/>
        <xs:attribute name="ValueProcessingTime" type="xs:double" use="required"/>
        <xs:attribute name="ValueWaitUOM" type="xs:string" use="required"/>
        <xs:attribute name="ValueWaitTime" type="xs:double" use="required"/>
        <xs:attribute name="ValueMovementUOM" type="xs:string" use="required"/>
        <xs:attribute name="ValueMovementTime" type="xs:double" use="required"/>

    </xs:complexType>



    <xs:complexType name="suboperationType">


        <!-- Supoperation = optional? -->

        <xs:attribute name="SubOperation" type="xs:string" use="optional"/>
        <xs:attribute name="SubOperationResource" type="xs:string" use="optional"/>
        <xs:attribute name="ProductionTool" type="xs:string" use="optional"/>
        <xs:attribute name="CapacityID" type="xs:string" use="optional"/>

        <xs:attribute name="ValueSetupUOM" type="xs:string" use="optional"/>
        <xs:attribute name="ValueSetupTime" type="xs:double" use="optional"/>
        <xs:attribute name="ValueProcessingUOM" type="xs:string" use="optional"/>
        <xs:attribute name="ValueProcessingTime" type="xs:double" use="optional"/>
        <xs:attribute name="ValueWaitUOM" type="xs:string" use="optional"/>
        <xs:attribute name="ValueWaitTime" type="xs:double" use="optional"/>
        <xs:attribute name="ValueMovementUOM" type="xs:string" use="optional"/>
        <xs:attribute name="ValueMovementTime" type="xs:double" use="optional"/>
    </xs:complexType>



    <xs:complexType name="CapacityAvailabilitiesType">
        <xs:sequence>
            <xs:element name="CapacityAvailability" type="CapacityAvailabilityType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="CapacityAvailabilityType">
        <xs:sequence>
            <xs:element name="Resource" type="ResourceType" maxOccurs="unbounded"/> <!-- one or more -->
            <xs:element name="Capacity" type="CapacityType" maxOccurs="unbounded"/> <!-- one or more -->
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ResourceType">
        <xs:attribute name="LocationID" type="xs:string" use="required"/>   
        <xs:attribute name="LocationText" type="xs:string" use="optional"/>
        <xs:attribute name="ResourceGroup" type="xs:string" use="required"/>         <!-- Do we have some predefined groups -->
        <xs:attribute name="ResourceId" type="xs:string" use="required"/>
        <xs:attribute name="ResourceText" type="xs:string" use="optional"/>
    </xs:complexType>


    <xs:complexType name="CapacityType">
        <xs:attribute name="CapacityID" type="xs:string" use="required"/>
        <xs:attribute name="CapacityCategoryID" type="xs:string" use="optional"/>    <!-- Are there different capacity category -->
        <xs:attribute name="CapacityText" type="xs:string" use="optional"/>         
        <xs:attribute name="CapacityUOM" type="xs:string" use="required"/>
        <xs:attribute name="CapacityExclusivity" type="xs:string" use="required"/>   <!-- Should this be different type with two choices (exclusive/non-exclusive)--> 
        <xs:attribute name="FinitePlanningIndicator" type="xs:string" use="required"/>
        <xs:attribute name="OverloadProfile" type="xs:string" use="required"/>         <!-- Do we have some predefined groups -->
        <xs:attribute name="AvailabilityIntervalFrom" type="xs:dateTime" use="required"/>
        <xs:attribute name="AvailabilityIntervalTo" type="xs:dateTime" use="required"/>
        <xs:attribute name="CapacityAvailabilityInterval" type="xs:int" use="required"/>
    </xs:complexType>



    <xs:complexType name="MaterialAvailabilitiesType">
        <xs:sequence>
            <xs:element name="MaterialAvailability" type="MaterialAvailabilityType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="MaterialAvailabilityType">
        <xs:attribute name="LocationID" type="xs:string" use="required"/>   
        <xs:attribute name="StorageLOCID" type="xs:string" use="required"/>
        <xs:attribute name="MaterialID" type="xs:string" use="required"/>   
        <xs:attribute name="MaterialText" type="xs:string" use="optional"/>            <!-- Material type a sepeate type ? with choices-->
        <xs:attribute name="UOM" type="xs:string" use="required"/>
        <xs:attribute name="BatchID" type="xs:string" use="required"/>        
        <xs:attribute name="UnrestrictedQuantity" type="xs:int" use="required"/>  
        <xs:attribute name="InQualityInspection" type="xs:string" use="required"/>     <!-- ? type -->
        <xs:attribute name="Blocked" type="xs:string" use="required"/>               <!-- ?type =  -->
        <xs:attribute name="ExpiryDate" type="xs:dateTime"/>                           <!-- type dateTime instead of date ?-->
    </xs:complexType>


    <xs:complexType name="POsType">
        <xs:sequence>
            <xs:element name="PO" type="POType" maxOccurs="unbounded" /> <!-- one or more -->
        </xs:sequence>
    </xs:complexType>




    <xs:complexType name="POType">
        <xs:attribute name="OrderID" type="xs:string" use="required"/>  
        <xs:attribute name="LocationID" type="xs:string" use="required"/>
        <xs:attribute name="StorageLocID" type="xs:string" use="required"/>   
        <xs:attribute name="MaterialID" type="xs:string" use="required"/>
        <xs:attribute name="MaterialQuantity" type="xs:int" use="required"/>
        <xs:attribute name="GRreceivingDate" type="xs:dateTime" use="required"/>       <!-- -->  
    </xs:complexType>




</xs:schema>